<html>
<head>
<title>Comment test</title>
</head>
<body>
  <p>[% get name # this is comment!!! %]</p>
  <p>[% name # this is comment!!! %]</p>
  <p>[% # comment only!!! %]</p>
  <p>[% # %]</p>
  <p>[% # multi line test1
   name %]</p>
  <p>[%# multi line test2
   name %]</p>
</body>
</html>
