<html>
<head>
<title>[% title %]</title>
</head>
<body>
<ul>
[% for li in ul %]
<li>[% li %]</li>
[% end %]
</ul>
<ol>
[% for ol as li %]
<li>[% li %]</li>
[% end %]
[% for li in missing %]
<p>This block shouldn't be present at all</p>
<li>[% li %]</li>
[% end %]
</ol>
</body>
</html>
